* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: grey;
    text-align: center;
    margin: 20px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: grey;
}

li {
    max-width: 250px;
    margin: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
